---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Petition Letters";
---

<BaseLayout title={title}>

	<div>
		<h1>Petition Letter</h1>
		<p> This is what we do </p>
		<p> This is why we do it </p>
		<p> This is who we are </p>
	</div>

	<a href="/queenspark">Queens Park</a>
	
</BaseLayout>
