---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Petition Letters";
---

<BaseLayout title={title}>


	<div class="container">

        <div class="row">
			<h1>Petition Letter</h1>

			<h2>Who we are</h2>

			<p> We are a group of citizens that want to help foster change in our local communities.</p>

			<h2>What we do</h2>

			<p> We help citizens write letters to their politicians. </p>
			
			<p> We think letters are more powerful than online petitions or emails.</p>

			<p> But writing and sending a letter is hard and time consuming.</p>

			<p> That is why we propose to write and post such letters for you.</p>

			<h2>Our first campaign</h2>

			<p> We are trialing this concept for the Queen's Park North Play Park in Glasgow.</p>

			<p> Click the button below to participate.</p>

        </div>

		<div class="row text-center">
			<div class="col-sm">
				<a href="/queenspark" class="btn btn-secondary" role="button">
					Go to Queens Park Campaign
				</a>
			</div>
		</div>

    </div>
	
</BaseLayout>
