---
import BaseLayout from "../../layouts/BaseLayout.astro"

const title = "Petition | Queens Park"
---

<BaseLayout title={title}>

	<div class="container">

        <div class="row">
            <h1>Cancel</h1>
		</div>
    </div>

</BaseLayout>