---
import BaseLayout from "../../layouts/BaseLayout.astro";
// import CountryOptions from "../../components/CountryOptions.astro";

const title = "Petition | Queens Park";

const namePlaceholder = "E.g. Jane Doe"

const addressPlaceholder = 
`E.g.
Flat 2/4
2 Nithsdale Road
G41 2AL, Glasgow
`

const emailPlaceholder = "E.g. jane.doe@domain.com"

---

<BaseLayout title={title}>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Enter your details below</h1>

                <form id="myform" action="javascript:sendContact();">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input id="name" name="name" class="form-control" placeholder={namePlaceholder} autocomplete="name" maxlength={100} required>
                        <div id="addressHelp" class="form-text">To personalise the petition letter.</div>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Address</label>
                        <textarea id="address" name="address" placeholder={addressPlaceholder} class="form-control" autocomplete="address" maxlength={300} rows={4} required></textarea>
                        <div id="addressHelp" class="form-text">To ensure they can write back to you.</div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input id="email" name="email" type="email" placeholder={emailPlaceholder} class="form-control" autocomplete="email" aria-describedby="emailHelp" required>
                        <div id="emailHelp" class="form-text">To inform you on the status of your letter.</div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <a href="/queenspark/" class="btn btn-secondary" role="button">
                    Go back
                </a>
            </div>
            <div class="col text-center">
                <a onclick="clearForm();" class="btn btn-secondary btn-light" role="button">
                    Clear
                </a>
            </div>
            <div class="col text-center">
                <input type="submit" form="myform" value="Continue" class="btn btn-secondary" role="button"/>
            </div>
        </div>
    </div>

</BaseLayout>

<style scoped>
	.form-text {
		margin-top: 0.25rem;
		font-size: .875em;
		color: #6c757d;
	}
</style>



<script is:inline src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>

<script is:inline>

    var fields = {};

    var updateFields = function() {
        if (sessionStorage.getItem("fields")) {
            fields = JSON.parse(sessionStorage.getItem('fields'));

            document.getElementById('name').value = fields.name;
            document.getElementById('address').value = fields.address;
            document.getElementById('email').value = fields.email;
        }
    }

    window.onload = () => {

        updateFields();

        window.addEventListener('storage', event => {
            console.log('storage');
            updateFields();
        });

        var form = document.getElementById('myform');
            form.addEventListener('change', function() {
                fields.name = document.getElementById('name').value;
                fields.address = document.getElementById('address').value;
                fields.email = document.getElementById('email').value;
                fields.uuid = uuidv4();

                sessionStorage.setItem('fields', JSON.stringify(fields));
        });        
    };

    var sendContact = function() {
        window.location.href = "/queenspark/pdf";
    }

    var clearForm = function() {
        sessionStorage.clear();
        document.getElementById("myform").reset();
    }
    
</script>