---
import BaseLayout from "../../layouts/BaseLayout.astro";

const title = "Petition | Queens Park";
---

<BaseLayout title={title}>

	<div class="container">

        <div class="row">
			<div class="col">
				<h1>Queen's Park Play Park</h1>

				<p> You probably know how bad the park situation has been recently. If not, you can read more at <a href="http://improveourpark.co.uk/">http://improveourpark.co.uk/</a>.</p>

				<p> <a href="https://www.glasgow.gov.uk/councillorsandcommittees/member.asp?id=2396&t=Councillor+Jon+Molyneux">Jon Molyneux</a> was recently re-elected as our local councillor. </p>
				
				<p> We prepared a letter to explain the situation and urge him to take action. You can inspect it <a href="/queenspark/template">here</a>.</p>

				<p> We propose to print and send that letter for you. </p>
				
				<p>To participate, click continue and we will ask you for:
					<ul>
						<li>Your name and address to customize the letter</li>
						<li>Your email to send you confirmations</li>
						<li>A contribution of £1 to cover our cost</li>
					</ul>
				</p>

				<!-- <p>All your data are handled securely and will never be shared with third-parties. We are GDPR compliant.</p> -->

			</div>
        </div>

		<div class="row text-center">
			<div class="col">
				<a href="/queenspark/details" class="btn btn-secondary" role="button">
					Continue
				</a>
			</div>
		</div>

    </div>

</BaseLayout>
