---
import BaseLayout from "../../layouts/BaseLayout.astro";

const title = "Petition | Queens Park";
---

<BaseLayout title={title}>

	<div class="container">

        <div class="row">
			<h1>TODO</h1>

			<p id="p"> </p>

        </div>

		<div class="row text-center">
			<div class="col-sm">
				<button onclick="handleSubmit();" class="btn btn-secondary" role="button">
					Submit
				</button>
			</div>
		</div>

    </div>

</BaseLayout>

<script is:inline src="https://js.stripe.com/v3/"></script>

<script is:inline>


      async function triggerPayment() {
        
        const data = {
          sku: "LETTER01"
        };

        const response = await fetch('/.netlify/functions/create-checkout', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
        }).then((res) => res.json());

        const stripe = Stripe(response.publishableKey);
        const { error } = await stripe.redirectToCheckout({
          sessionId: response.sessionId,
        });

        if (error) {
          console.log("Error")
        }
    }



    var fields = {}
    if (sessionStorage.getItem("fields")) {
        fields = JSON.parse(sessionStorage.getItem('fields'));
    } else {
        window.location.href = "/queenspark/details";
    }

    var paragraph = document.getElementById("p");
    var text = document.createTextNode(fields.name);
    paragraph.appendChild(text);

    var text = document.createTextNode(fields.address);
    paragraph.appendChild(text);

    var text = document.createTextNode(fields.email);
    paragraph.appendChild(text);

    // async function asyncCall() {
    //     const data = await fetch('/.netlify/functions/get-products')
    //         .then((res) => res.json())
    //         .catch((err) => console.error(err));
    // }

    // asyncCall();

</script>
