---
import BaseLayout from "../../layouts/BaseLayout.astro";

const title = "Petition | Queens Park";
---

<BaseLayout title={title}>

	<div class="container">

        <div class="row">
			<h1>TODO</h1>

			<p id="p"> </p>

        </div>

		<div class="row text-center">
			<div class="col-sm">
				<a href="/queenspark/details" class="btn btn-secondary" role="button">
					Restart
				</a>
			</div>
		</div>

    </div>

</BaseLayout>



<script is:inline>

    var fields = {}
    if (sessionStorage.getItem("fields")) {
        fields = JSON.parse(sessionStorage.getItem('fields'));
    } else {
        window.location.href = "/queenspark/details";
    }

    var paragraph = document.getElementById("p");
    var text = document.createTextNode(fields.name);
    paragraph.appendChild(text);

    var text = document.createTextNode(fields.address);
    paragraph.appendChild(text);

    var text = document.createTextNode(fields.email);
    paragraph.appendChild(text);

</script>
